# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
ENV/
.env
.envrc

# Python tools
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pyre/
.pytype/
cython_debug/

# IDE
.vscode/
.idea/
.spyderproject
.spyproject

# dbt
dbt_packages/
dbt_internal_packages/
logs/
target/

# Temporary files
tempCodeRunnerFile.py
